/* =========================
    VARIABLES
========================= */
:root {
    --background-color: #1e1e2f;
    --navbar-background: #111122;
    --navbar-hover-background: #2c2c44;

    --accent-color: #ff6f61;
    --accent-hover: #ff856f;

    --text-color: #f5f5f5;
    --subtext-color: #d0d0d0;

    --price-low: #10c25a;
    --price-mid: #f1c40f;
    --price-high: #c71704;
}

/* =========================
    BASE
========================= */
* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

body {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

/* =========================
    LAYOUT
========================= */
.sections {
    display: flex;
}

/* LEFT SIDE */
.left-section {
    width: 80%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* RIGHT SIDEBAR - CART SECTION */
.right-section {
    position: fixed;
    top: 50px;
    right: 0;

    width: 20%;
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background-color: var(--navbar-background);
    color: var(--text-color);

    overflow-y: auto;
    border-left: 1px solid var(--accent-color);
}

.right-section h3 {
    margin-top: 0;
}

/* =========================
    HEADER
========================= */
.index-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    padding: 10px 20px;

    background-color: var(--navbar-background);
    color: var(--text-color);
    border-bottom: 1px solid var(--accent-color);
}

.index-header a {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.2rem;

    color: var(--text-color);
    text-decoration: none;
}

/* Profile button */
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--navbar-background);
    cursor: pointer;
}

.btn-container:hover {
    background-color: var(--navbar-hover-background);
}

#profile-btn {
    width: 75%;
    height: 75%;
    border: none;
    border-radius: 50%;

    background-color: var(--accent-color);
    cursor: pointer;
}

/* =========================
    GAMES GRID
========================= */
.games-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
    gap: 30px;
    padding: 20px;
}

#games-list-title {
    text-align: center;
    color: var(--text-color);
    margin: 10px 0;
    font-size: 2rem;
}

/* =========================
    GAME CARD
========================= */
.game-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 250px;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;

    background-color: var(--accent-color);
    color: var(--text-color);

    transition: 0.2s ease;
}

.game-cards:hover {
    background-color: var(--accent-hover);
    transform: translateY(-5px);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

.mini-content {
    display: flex;
    flex-direction: column;
}

.game-cards h2 {
    font-size: 1.5rem;
    color: var(--navbar-background);
}

.game-cards p {
    font-size: 1.1rem;
    color: var(--subtext-color);
}

.game-cards button {
    margin-top: auto;

    background-color: var(--navbar-background);
    color: var(--text-color);

    border: none;
    padding: 10px 20px;
    border-radius: 5px;

    cursor: pointer;
}

.price-value {
    font-size: 1.5rem;
}

/* =========================
    CART
========================= */

#cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    min-height: 50px;

    background-color: var(--accent-color);

    transform: translateX(15px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.cart-item.show {
    transform: translateX(0);
    opacity: 1;
}

.cart-item div {
    flex: 1;
    text-align: left;
}

.cart-item div:last-child {
    text-align: right;
}

.cart-item:hover {
    background-color: var(--accent-hover);
}

#checkout-btn {
    margin-top: auto;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;

    background-color: var(--accent-color);
    color: var(--text-color);

    cursor: pointer;
}

#checkout-btn:hover {
    background-color: var(--accent-hover);
}