:root {
    /* Backgrounds */
    --background-color: #1e1e2f;
    --navbar-background: #111122;
    --navbar-hover-background: #2c2c44;

    /* Accent / highlights */
    --accent-color: #ff6f61;
    --accent-hover: #ff856f;

    /* Text */
    --text-color: #f5f5f5;
    --subtext-color: #d0d0d0;

    /* Price colors */
    --price-low: #10c25a;    /* cheap */
    --price-mid: #f1c40f;    /* mid-range */
    --price-high: #c71704;   /* expensive */
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

body {
    margin: 0;
    padding: 0;
}

.sections {
    display: flex;
    flex-direction: row;
    height: 92.5%;
}

.left-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.right-section {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--navbar-background);
    color: var(--text-color);
}

.index-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--navbar-background);
    color: var(--text-color);
    height: 50px;
    border-bottom: 1px solid var(--accent-color);
}

.index-header h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 0.25rem;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--navbar-background);
    color: var(--text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-container:hover {
    background-color: var(--navbar-hover-background);
}

#profile-btn {
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 75%;
    height: 75%;
    border: none;
}

.games-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

#games-list-title {
    text-align: center;
    color: var(--text-color);
    margin: 0px;
    margin-top: 10px;
    font-size: 2rem;
    max-width: 75%;
}

.game-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

    width: 250px;
    min-height: 300px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* card content but ONLY price and genre */
.mini-content {
    display: flex;
    flex-direction: column;
}

.game-cards:hover {
    background-color: var(--accent-hover);
}

.game-cards h2, .game-cards p {
    text-align: center;
}

.game-cards h2 {
    font-size: 1.75rem;
    color: var(--navbar-background);
}

.game-cards p {
    font-size: 1.25rem;
    color: var(--navbar-hover-background);
    font-weight: bold;
}

.game-cards p:last-of-type {
    justify-self: flex-end;
}

.game-cards button {
    background-color: var(--navbar-background);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.price-value {
    font-size: 1.5rem;
    font-weight: bold;
}